<div layout class="sidenav__header h-image-contain">
    <md-list flex>
        <md-list-item class="md-2-line">
            <img class="sidenav__header-avatar md-avatar" ng-src="{{vm.business.profilePhotoUrl || './assets/user.png'}}" alt="{{vm.business.name}}"
            />
            <div class="md-list-item-text">
                <h3 class="sidenav__header-text md-subhead">{{vm.business.name}}</h3>
                <p class="sidenav__header-sub-text md-caption">{{vm.business.type}}</p>
            </div>
        </md-list-item>
    </md-list>
</div>
<md-list>
    <md-list-item ui-sref="admin.root.business.profile">
        <md-icon>store</md-icon>
        <p>Profile</p>
    </md-list-item>
    <md-list-item ui-sref="admin.root.business.inventory">
        <md-icon>shopping_cart</md-icon>
        <p>Inventory</p>
    </md-list-item>
    <md-list-item ng-click=null>
        <md-icon>settings</md-icon>
        <p>Settings</p>
    </md-list-item>
    <md-list-item ng-click="admin.logout()">
        <md-icon>input</md-icon>
        <p>Logout</p>
    </md-list-item>
</md-list>