<md-dialog flex-md="{{vm.flexMd || '66'}}" flex-gt-md="{{vm.flexGtMd || '50'}}" md-theme="default" aria-label="vm.title" tabindex="-1">
  <spinner identifier="'dialog-spinner'"></spinner>
  <form name="vm.form" novalidate>
    <md-dialog-content class="md-dialog-content dialog-box" role="document" tabindex="-1">
      <h2 class="md-title">{{vm.title}}</h2>
      <div layout="column">
        <div ng-if="vm.content" compile="vm.content"></div>
        <div ng-if="vm.contentPath" ng-include="vm.contentPath"></div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button type="button" ng-click="vm.cancel()" aria-label="vm.cancelAria || 'Cancel' ">{{vm.cancelText || 'Cancel'}}</md-button>
      <md-button ng-hide="vm.hideSubmitButton" class="md-primary" md-autofocus="true" type="submit" ng-click="vm.submit()" ng-disabled="(vm.form.$invalid || vm.enableSubmit == false)" aria-label="vm.submitAria || 'Submit' ">{{vm.submitText || 'Submit'}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
