<h1 class="md-title cursive h-center">Businesses</h1>
<div ng-repeat="(id, business) in vm.businesses" layout="row" layout-xs="column" flex-xs="100" flex-sm="100" flex="20" layout-wrap
    flex>
    <md-card md-ink-ripple ui-sref="admin.root.business.profile({businessId:id})" flex>
        <img ng-src="{{::business.profilePhotoUrl}}" class="md-card-image" alt="{{::business.name}}">
        <md-card-title>
            <md-card-title-text>
                <span class="md-title">{{::business.name}}</span>
                <span class="md-caption">{{::business.address.delivery_line_1}} {{::business.address.components.city_name}}, {{::business.address.components.state_abbreviation}}
                </span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
<span flex layout class="h-center" ng-if="!vm.businesses">No businesses defined</span>