<div flex ng-cloak>
    <md-card flex="60" flex-offset="20">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Basic Information</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list flex>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>Name</h3>
                        <h3>{{::vm.businessProfile.name}}</h3>
                    </div>
                    <md-button class="md-icon-button md-secondary" aria-label="Update Name" ng-click="vm.showUpdateBusinessName($event, vm.businessProfile.name)">
                        <md-icon md-colors="{color: 'orange-500'}" aria-hidden="true">edit</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>Display Image</h3>
                        <md-icon ng-if="!vm.businessProfile.profilePhotoUrl" class="md-avatar-icon">business</md-icon>
                        <img ng-if="!!vm.businessProfile.profilePhotoUrl" class="md-avatar" ng-src="{{vm.businessProfile.profilePhotoUrl}}" />
                    </div>
                    <md-button class="md-icon-button md-secondary" aria-label="Update Name" ng-click="null">
                        <md-icon md-colors="{color: 'orange-500'}" aria-hidden="true">edit</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3>Business Type</h3>
                        <h3>{{::vm.businessProfile.type}}</h3>
                    </div>
                    <md-button class="md-icon-button md-secondary" aria-label="Update Business Type" ng-click="vm.showUpdateBusinessType($event, vm.businessProfile.type)">
                        <md-icon md-colors="{color: 'orange-500'}" aria-hidden="true">edit</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item class="md-2-line md-long-text">
                    <div class="md-list-item-text">
                        <h3>About Us</h3>
                        <p>
                            {{::vm.businessProfile.about}}
                        </p>
                    </div>
                    <md-button class="md-icon-button md-secondary" aria-label="Update About" ng-click="vm.showUpdateAboutUs($event, vm.businessProfile.about)">
                        <md-icon md-colors="{color: 'orange-500'}" aria-hidden="true">edit</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-card-content>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Contact Information</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item ng-if="vm.businessProfile.phone" class="md-2-line">
                    <md-icon class="md-avatar-icon">phone</md-icon>
                    <div class="md-list-item-text">
                        <h3> {{ ::vm.businessProfile.phone.calling_code }} {{ ::vm.businessProfile.phone.number }}</h3>
                        <p> Phone </p>
                    </div>
                    <md-button class="md-icon-button md-secondary" aria-label="Edit Phone" ng-click="vm.showUpdatePhone($event, vm.businessProfile.phone)">
                        <md-icon md-colors="{color: 'orange-500'}" aria-hidden="true">edit</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item ng-if="!vm.businessProfile.phone">
                    <div class="md-list-item-text">
                        No phone number on record
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item ng-if="vm.businessProfile.email" class="md-2-line">
                    <md-icon class="md-avatar-icon">mail</md-icon>
                    <div class="md-list-item-text">
                        <h3> {{ ::vm.businessProfile.email }}</h3>
                        <p> Email </p>
                    </div>
                    <md-button class="md-icon-button md-secondary" aria-label="Update Email" ng-click="vm.showUpdateEmail($event, vm.businessProfile.email)">
                        <md-icon md-colors="{color: 'orange-500'}" aria-hidden="true">edit</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item ng-if="!vm.businessProfile.email">
                    <div class="md-list-item-text">
                        No email on record
                    </div>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item ng-if="vm.businessProfile.address" class="md-2-line">
                    <md-icon class="md-avatar-icon">location_on</md-icon>
                    <div class="md-list-item-text">
                        <h3>
                            {{ ::vm.businessProfile.address.delivery_line_1 }}, {{ ::vm.businessProfile.address.components.city_name }} {{ ::vm.businessProfile.address.components.state_abbreviation
                            }}
                        </h3>
                        <p> Address </p>
                    </div>
                    <md-button class="md-icon-button md-secondary" aria-label="Update Phone" ng-click="vm.showUpdateAddress($event, vm.businessProfile.address)">
                        <md-icon md-colors="{color: 'orange-500'}" aria-hidden="true">edit</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item ng-if="!vm.businessProfile.address">
                    <div class="md-list-item-text">
                        No address on record
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Social Media</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item ng-if="vm.businessProfile.socialMedias" class="md-2-line noright" ng-repeat="(type, data) in vm.businessProfile.socialMedias track by $index">
                    <md-icon class="fa fa-lg md-avatar-icon fa-{{type == 'snapchat' ? 'snapchat-ghost' : type}} icon icon-{{type}}" aria-hidden="true"></md-icon>
                    <!-- <md-icon class="md-avatar-icon h-image-fill icon icon-{{type}}" aria-hidden="true"></md-icon> -->
                    <div class="md-list-item-text">
                        <p>
                            <a target="_blank" href="{{::data.url}}" class="h-light-text social-media-display">{{::data.display}}</a>
                        </p>
                    </div>
                    <md-button class="md-icon-button md-secondary" aria-label="{{'Edit ' + type}}" ng-click="vm.showUpdateSocialMedia($event, {type: type, data: data})">
                        <md-icon md-colors="{color: 'orange-500'}" aria-hidden="true">edit</md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-secondary" aria-label="{{'Delete ' + type}}" ng-click="vm.showDeleteSocialMedia($event, {type: type, data: data})">
                        <md-icon md-colors="{color: 'red-500'}" aria-hidden="true">clear</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item ng-if="!vm.businessProfile.socialMedias">
                    <div class="md-list-item-text">
                        No social media entries on record
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Hours of Operation</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list-item class="md-2-line md-long-text">
                <div class="md-list-item-text" layout="column">
                    <div layout ng-repeat="day in vm.daysOfTheWeek track by $index">
                        <h6 flex layout layout-align="center center" class="h-no-margins md-subhead">{{::day}}</h6>
                        <h6 ng-if="vm.businessProfile.hoursOfOperation[day].isOpen" flex layout layout-align="center center" class="h-no-margins md-subhead">{{::vm.businessProfile.hoursOfOperation[day].openTime}} &ndash; {{::vm.businessProfile.hoursOfOperation[day].closeTime}}</h6>
                        <h6 ng-if="!vm.businessProfile.hoursOfOperation[day].isOpen" flex layout layout-align="center center" class="h-no-margins md-subhead">Closed</h6>
                    </div>
                </div>
                <md-button class="md-icon-button md-secondary" aria-label="Update Hours of Operation" ng-click="vm.showUpdateHoursOfOperation($event, vm.businessProfile.hoursOfOperation)">
                    <md-icon md-colors="{color: 'orange-500'}" aria-hidden="true">edit</md-icon>
                </md-button>
            </md-list-item>
        </md-card-content>
    </md-card>
</div>