<h3 class="md-headline h-center cursive">Inventory</h3>
<md-toolbar class="md-table-toolbar md-default md-toolbar">
  <div class="md-toolbar-tools">
      <md-input-container>
          <label> Search Inventory </label>
           <input ng-model="search.filter"> 
         </md-input-container>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
  <table md-table md-row-select multiple ng-model="vm.selected" md-progress="vm.promise">
    <thead md-head md-order="vm.query.order" md-on-reorder="vm.getInventory">
      <tr md-row>
        <th md-column md-order-by="productName"><span>Product Name</span></th>
        <th md-column md-numeric md-order-by="price"><span>Price</span></th>
        <th md-column md-numeric md-order-by="quantity">Quantity</th>
        <th md-column md-numeric md-order-by="dailyDealPrice">Daily Deal Price</th>
        <th md-column md-numeric md-order-by="seller.name">Seller</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr ui-sref="admin.root.inventory-details({inventoryId:inventory.id})" md-row md-select="inventory" md-select-id="name" md-auto-select ng-repeat="inventory in vm.inventories | filter: vm.inventorySearch | orderBy: vm.query.order 
      | limitTo: vm.query.pageLimit : (vm.query.pageNumber -1) * vm.query.pageLimit">
        <td md-cell>{{inventory.productName}}</td>
        <td md-cell>{{inventory.price}}</td>
        <td md-cell>{{inventory.quantity}}</td>
        <td md-cell>{{inventory.dailyDealPrice}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="vm.query.pageLimit" md-limit-options="[5, 10, 15]" md-page="vm.query.pageNumber" md-total="{{vm.inventories.length}}" md-on-paginate="vm.getInventory" md-page-select></md-table-pagination>
