<div layout="column" flex layout-padding layout-align="center center">
    <div layout flex="66">
        <img src="./assets/logo.png" alt="logo" />
    </div>
    <h1 class="md-display-4 h-no-margins">404</h1>
    <h2 class="md-display-2 h-no-margins">Page Not Found</h2>
    <p class="md-display-1 h-light-text">The page you are looking for has been moved, removed, or no longer exist</p>
    <md-button class="md-raised md-primary" aria-label="Go Back" ng-click="null">
        Go Back
    </md-button>
</div>