<div layout="column" flex layout-padding layout-align="center center">
    <div layout flex="66">
        <img src="./assets/logo.png" alt="logo" />
    </div>
    <h1 class="md-display-4 light-text h-no-margins">500</h1>
    <h2 class="md-display-2 h-no-margins">Error</h2>
    <p class="md-display-1 h-light-text">Oops, something went terribly wrong with our code. Please refresh the page</p>
    <md-button class="md-raised md-primary" aria-label="Go Back" ng-click="null">
        Go Back
    </md-button>
</div>