.nacarat-content {
  min-height: calc(100vh - 128px);

  main {
    overflow-x: hidden;
  }
}

.login-layout__content {
  height: calc(100vh - 64px);
  background: url("../../assets/img/23.png") center no-repeat;
}

.sidenav__header {
  min-height: 10rem;
  background: url("../../assets/img/9.png") center no-repeat;
}

.sidenav__header-avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.nacarat-toolbar__action-buttons {
  font-weight: bold;

  &:hover {
    background-color: $g-primary-color-hue-2 !important;
  }

  &--is-active {
    background-color: $g-primary-color-hue-2 !important;
  }
}

.nacarat-toolbar__logo--text {
  font-size: 1.5rem;
  padding: 0 8px;
}

.nacarat-toolbar__logo--image {
  height: 3rem;
  width: 3rem;
}
