<div layout="column" layout-fill ng-cloak class="login-layout">
    <md-toolbar class="nacarat-toolbar">
        <div class="md-toolbar-tools" layout>
            <div class="nacarat-toolbar__logo-wrapper" ui-sref="public.root.home" layout layout-align="center start">
                <img class="nacarat-toolbar__logo--image md-user-avatar" src="./assets/img/angular.png" />
                <span layout-padding class="cursive nacarat-toolbar__logo--text">Shop Local</span>
            </div>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content layout layout-padding layout-wrap class="nacarat-content login-layout__content h-image-fill h-no-padding" layout-align="center center">
        <div ui-view layout="column" flex="100" class="full-height"></div>
    </md-content>
</div>
