<md-toolbar class="nacarat-toolbar">
  <div class="md-toolbar-tools h-no-horizontal-padding" layout layout-padding>
    <div flex="nogrow" class="nacarat-toolbar__logo-wrapper" ui-sref=".home" layout layout-align="center center">
      <img class="nacarat-toolbar__logo--image md-user-avatar" src="www/assets/img/angular.png" />
      <span layout-padding class="cursive nacarat-toolbar__logo--text">Shop Local</span>
    </div>
    <search-bar flex class="h-no-padding"></search-bar>
    <div flex="nogrow" class="nacarat-toolbar__action-buttons--wrapper h-no-vertical-padding">
      <md-button class="nacarat-toolbar__action-buttons" ui-sref=".about">About Us</md-button>
      <md-button class="nacarat-toolbar__action-buttons" ui-sref=".subscribe">Subscribe</md-button>
      <md-button class="nacarat-toolbar__action-buttons" ui-sref=".faq">FAQ</md-button>
      <md-button class="nacarat-toolbar__action-buttons" ui-sref="login.root">Partners</md-button>
    </div>
  </div>
</md-toolbar>
<md-content ui-view layout-padding layout-wrap class="nacarat-content h-no-padding">
  <!--load home page-->
</md-content>
