.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
    display: none !important;
}

md-card[md-ink-ripple] {
    position: relative;
    cursor: pointer;
}

main {
    min-height: 100vh;
}

body {
    overflow-x: hidden;
}

[ui-sref] {
    cursor: pointer;
}

.cursive {
    font-family: "Pacifico", cursive;
}

.flickity-page-dots {
    bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid #fff;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: #fff;
}

// .gradient {
//     /* background: #e53935;*/
//     /* fallback for old browsers */
//     /* background: -webkit-linear-gradient(to left, #e53935, #e35d5b);*/
//     /* Chrome 10-25, Safari 5.1-6 */
//     /* background: linear-gradient(to left, #e53935, #e35d5b); */
//     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//     background: #EC6F66;
//     /* fallback for old browsers */
//     background: -webkit-linear-gradient(to left, #EC6F66, #F3A183);
//     /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to left, #EC6F66, #F3A183);
//     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }
// .login-card {
//     max-height: 75% !important;
// }
//
// .md-link {
//     color: $g-primary-color-text;
//     text-decoration: none;
// }
//
// .facebook-button {
//     background-color: $g-facebook-blue !important;
//     color: #fff !important;
// }
