$white: #fff !default;
$g-primary-color-text: #2196f3;
$g-facebook-blue: #3b5998;
//define primary template colors
$g-primary-color: #ff5252;
$g-primary-color-hue-1: #ef5350;
$g-primary-color-hue-2: #c62828;
$g-primary-color-hue-3: #b71c1c;

$g-accent-color: #1976d2;
$g-accent-color-hue-1: #d8f3ff;
$g-accent-color-hue-2: #82afe1;
$g-accent-color-hue-3: #5e7998;
