<div layout>
  <md-card flex-offset="30" flex="40">
         <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
         <md-card-title>
           <md-card-title-text>
             <span class="md-headline">Login</span>
           </md-card-title-text>
         </md-card-title>
         <md-card-content>
           <form name="form" layout="column">
                     <md-input-container class="md-block" flex-gt-xs>
                       <label>Username</label>
                       <input ng-model="vm.credentials.username">
                     </md-input-container>
                     <md-input-container class="md-block" flex-gt-xs>
                       <label>Password</label>
                       <input type="password" ng-model="vm.credentials.password">
                     </md-input-container>
                 </form>
         </md-card-content>
         <md-card-actions layout="row" layout-align="center center">
           <md-button class="md-primary md-raised" ng-click="vm.login()">Login</md-button>
         </md-card-actions>
       </md-card>
       <md-card>
</div>
