$g-primary-color-text: #2196f3;
$g-facebook-blue: #3b5998;
//define primary template colors
$g-primary-color-hue-1: #ef5350;
$g-primary-color: #ff5252;
$g-primary-color-hue-2: #c62828;
$g-primary-color-hue-3: #b71c1c;
