.twitter-icon{
    background-color: #00aced !important;
    color: white !important;
}

.facebook-icon{
  background-color: #3B5998 !important;
  color:white !important;
}

.instagram-icon{
  background-color: #000 !important;
  color:white !important;
}
