body {
  overflow-x: hidden; }

[ui-sref] {
  cursor: pointer; }

.cursive {
  font-family: 'Pacifico', cursive; }

.h-full-width {
  width: 100% !important;
  width: 100vw !important; }

.h-center {
  text-align: center !important; }

.h-no-margins {
  margin: 0 !important; }

.h-no-padding {
  padding: 0 !important; }

.h-full-height {
  height: 100% !important; }

.h-no-vertical-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.h-no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.nacarat-content {
  min-height: calc(100vh - 128px); }

.nacarat-toolbar__action-buttons {
  font-weight: bold; }
  .nacarat-toolbar__action-buttons:hover {
    background-color: #c62828 !important; }
  .nacarat-toolbar__action-buttons--is-active {
    background-color: #c62828 !important; }

.nacarat-toolbar__logo--text {
  font-size: 1.75rem;
  padding: 0 8px; }

.nacarat-toolbar__logo--image {
  height: 3rem;
  width: 3rem; }

.daily-deal-card {
  height: 20rem; }

.daily-deal-card__product-image {
  height: 75%; }

.demo {
  background-color: #cce5f6;
  color: #555;
  height: 100%;
  min-height: 5rem;
  padding: 2rem 3rem; }
  .demo__card {
    background-color: #fcfcfc;
    padding: 1rem 1rem 3rem;
    text-align: center; }
  .demo__title small {
    display: block;
    font-size: 70%; }
  .demo__slides {
    margin-bottom: 3rem;
    margin-top: 2rem;
    height: 20rem; }
  .demo__slide {
    height: 100%;
    text-align: center;
    width: 100%; }
    .demo__slide .slide__image {
      width: 100%;
      height: 100%; }

.search-input-container {
  background-color: white !important;
  border-radius: 33px;
  padding: 0 1rem; }
  .search-input-container md-input-container {
    margin-top: .25rem;
    margin-bottom: .25rem; }
    .search-input-container md-input-container md-icon {
      color: rgba(0, 0, 0, 0.84); }
    .search-input-container md-input-container label {
      font-size: 14px; }
