.daily-deal-card{
  height: 20rem;
  // max-height: 75%;
}

.daily-deal-card__product-image {
    height: 75%;
    // max-height:50%;
}

.demo {
    background-color: lighten(#3498db, 35);;
    color: #555;
    height: 100%;
    min-height: 5rem;
    padding: 2rem 3rem;

    &__card {
        background-color: #fcfcfc;
        padding: 1rem 1rem 3rem;
        text-align: center;
    }

    &__title {
        small {
            display: block;
            font-size: 70%;
        }
    }

    // <div> container for slides
    &__slides {
        margin-bottom: 3rem;
        margin-top: 2rem;
        height: 20rem;
    }

    // <figure> individual slide
    &__slide {
        height: 100%;
        text-align: center;
        width: 100%;
        .slide__image{
          width:100%;
          height:100%;
        }
    }
}
