<section flex layout="column" class="home-content">
    <div flex layout layout-padding class="nacarat-carousel__container">
        <div class="nacarat-carousel" flex="column">
            <div class="nacarat-carousel__slides" id="hero-carousel">
                <figure class="nacarat-carousel__slide" ng-repeat="slide in vm.heroSlides track by $index" ng-style="{'background-image':'url({{slide.image}})'}">
                    <h1 class="nacarat-carousel__slide-text">{{::slide.text}}</h1>
                </figure>
            </div>
        </div>
    </div>
    <div flex layout-xs="column" layout layout-padding>
        <div flex-xs="100" flex="33" flex-order="2">
            <h3 class="md-headline">The Fox & the Grapes</h3>
            <p>
                A Fox one day spied a beautiful bunch of ripe grapes hanging from a vine trained along the branches of a tree. The grapes seemed ready to burst with juice, and the Fox's mouth watered as he gazed longingly at them. </p>
        </div>
        <div flex-xs="100" flex="33" flex-order="2">
            <h3 class="md-headline">The Owl & the Grasshopper</h3>
            <p>
                The Owl always takes her sleep during the day. Then after sundown, when the rosy light fades from the sky and the shadows rise slowly through the wood, out she comes ruffling and blinking from the old hollow tree. </p>
        </div>
        <div flex-xs="100" flex="33" flex-order="2">
            <h3 class="md-headline">The Wild Boar & the Fox</h3>
            <p>
                A Wild Boar was sharpening his tusks busily against the stump of a tree, when a Fox happened by. Now the Fox was always looking for a chance to make fun of his neighbors.
            </p>
        </div>
    </div>
    <div flex layout="column" layout-padding class="nacarat-carousel__container">
        <h3 class="md-headline h-center flex">Todays Daily Deals</h3>
        <div class="nacarat-carousel" flex="column">
            <div class="nacarat-carousel__slides" id="products-carousel">
                <figure flex-xs="100" flex="20" class="nacarat-carousel__slide h-no-padding" ng-repeat="(productId, product) in vm.productsObj track by $index">
                    <md-card ui-sref="public.root.product-details({productId:productId})" flex="100" class="product-card">
                        <img ng-src="{{::product.images[0]}}" class="md-card-image product-card__image" alt="{{::product.productName}}">
                        <md-card-title class="h-no-vertical-padding">
                            <md-card-title-text>
                                <span class="md-subhead h-left">
                                  {{::product.productName}}
                                </span>
                                <span class="md-body-2 h-left h-light-text">
                                  {{::product.seller.name}}
                                </span>
                                <span class="md-subhead h-no-padding" layout>
                                  <strong class="h-left" flex><s>{{::product.price | currency:"$"}}</s></strong>
                                  <strong class="h-right" flex md-colors="{color: 'red-500'}">{{::product.dailyDealPrice | currency:"$"}}</strong>
                                </span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </figure>
            </div>
        </div>
    </div>
    <div flex layout="column" layout-padding>
        <h3 class="md-headline h-center flex">Check Out Our Partners</h3>
        <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
            <md-grid-tile ng-repeat="partner in vm.listOfPartners" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
                <img flex src="https://martech.zone/wp-content/uploads/2010/06/example-logo.png" style="height:auto; width: 100%" alt="alternative">
                <md-grid-tile-footer layout>
                    <h3 layout flex class="h-center">{{::partner.profile.name}}</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
        <div layout layout-align="center center">
            <md-button md-no-ink class="md-accent">See More</md-button>
        </div>
    </div>
    <div flex layout="column" layout-padding md-colors="{background: 'red-100'}">
        <h3 class="md-headline h-center h-no-margins">Subscribe</h3>
        <p class="h-center">
            Some text encouraging users to subscribe.
        </p>
        <div layout layout-align="center center">
            <md-button class="md-raised md-accent">Subscribe</md-button>
        </div>
    </div>
    <div flex layout="column" layout-padding md-colors="{background: 'blue-grey-200'}">
        <h3 class="md-headline h-center h-no-margins">Join Us</h3>
        <p class="h-center">
            Some text encouraging users (merchants) to join our network. Essentially, a call to action.
        </p>
        <div layout layout-align="center center">
            <md-button class="md-raised md-accent">Register Now</md-button>
        </div>
    </div>
</section>