<div layout="column" flex ng-repeat="(day, hours) in vm.hoursOfOperation track by $index">
    <h6 flex class="md-subhead h-no-margins">{{::day}}</h6>
    <div layout flex layout-padding flex-xs="column">
        <md-input-container flex>
            <label>Open</label>
            <input ng-disabled="!vm.hoursOfOperation[day].isOpen" ng-model="vm.hoursOfOperation[day].openTime">
        </md-input-container>
        <md-input-container flex>
            <label>Close</label>
            <input ng-disabled="!vm.hoursOfOperation[day].isOpen" ng-model="vm.hoursOfOperation[day].closeTime">
        </md-input-container>
        <md-input-container>
            <md-switch class="md-primary" name="isOpen" ng-model="vm.hoursOfOperation[day].isOpen">
                Open
            </md-switch>
        </md-input-container>
    </div>
</div>