.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
  display: none !important; }

main {
  min-height: 100vh; }

body {
  overflow-x: hidden; }

[ui-sref] {
  cursor: pointer; }

.cursive {
  font-family: 'Pacifico', cursive; }

.h-full-width {
  width: 100% !important;
  width: 100vw !important; }

.h-center {
  text-align: center !important; }

.h-no-margins {
  margin: 0 !important; }

.h-margins-5 {
  margin: 5px !important; }

.h-no-padding {
  padding: 0 !important; }

.h-full-height {
  height: 100% !important; }

.h-no-vertical-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.h-no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.h-horizontal-padding {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.h-image-fill {
  background-repeat: no-repea !important;
  background-position: center !important;
  overflow: hidden !important;
  background-size: cover !important; }

.h-image-contain {
  background-repeat: no-repeat !important;
  background-position: center !important;
  overflow: hidden !important;
  background-size: contain !important; }

.h-d-block {
  display: block !important; }

.h-d-inline-block {
  display: inline-block !important; }

md-footer small {
  font-size: 12px;
  padding: 5px; }

md-footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.54); }

.nacarat-content {
  min-height: calc(100vh - 128px); }
  .nacarat-content main {
    overflow-x: hidden; }

.login-layout__content {
  height: calc(100vh - 64px);
  background: url("../../assets/img/23.png") center no-repeat; }

.sidenav__header {
  min-height: 10rem;
  background: url("../../assets/img/9.png") center no-repeat; }

.sidenav__header-avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%; }

.nacarat-toolbar__action-buttons {
  font-weight: bold; }
  .nacarat-toolbar__action-buttons:hover {
    background-color: #c62828 !important; }
  .nacarat-toolbar__action-buttons--is-active {
    background-color: #c62828 !important; }

.nacarat-toolbar__logo--text {
  font-size: 1.5rem;
  padding: 0 8px; }

.nacarat-toolbar__logo--image {
  height: 3rem;
  width: 3rem; }

.daily-deal-card {
  height: 20rem; }

.daily-deal-card__product-image {
  height: 75%; }

.home-content {
  min-height: 100vh; }
  .home-content p {
    line-height: 1.25; }

.hero {
  color: #555;
  height: 100%;
  min-height: 5rem; }
  .hero__carousel {
    background-color: #fcfcfc;
    text-align: center; }
    .hero__carousel-slides {
      height: 20rem; }
    .hero__carousel-slide {
      height: 100%;
      text-align: center;
      width: 100%;
      background-repeat: no-repeat !important;
      background-position: center !important;
      overflow: hidden !important;
      background-size: cover !important; }
      .hero__carousel-slide-text {
        color: #fff; }
      .hero__carousel-slide .slide__image {
        width: 100%;
        height: 100%; }
  .hero__title small {
    display: block;
    font-size: 70%; }

.twitter-icon {
  background-color: #00aced !important;
  color: white !important; }

.facebook-icon {
  background-color: #3B5998 !important;
  color: white !important; }

.instagram-icon {
  background-color: #000 !important;
  color: white !important; }

search-bar .md-whiteframe-z1 {
  box-shadow: none !important; }

.search-input-container {
  background-color: white !important;
  border-radius: 33px;
  padding: 0 1rem; }
  .search-input-container md-input-container {
    margin-top: .25rem;
    margin-bottom: .25rem; }
    .search-input-container md-input-container md-icon {
      color: rgba(0, 0, 0, 0.84); }
    .search-input-container md-input-container label {
      font-size: 14px; }

.login-card {
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.8); }
  .login-card input {
    background-color: rgba(255, 255, 255, 0.75); }
  .login-card .btn-facebook {
    background-color: #3b5998;
    color: rgba(255, 255, 255, 0.75); }
    .login-card .btn-facebook:hover {
      background-color: #2d4373 !important; }

.login-card:before {
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.3);
  filter: blur(10px); }
