.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
  display: none !important; }

main {
  min-height: 100vh; }

body {
  overflow-x: hidden; }

[ui-sref] {
  cursor: pointer; }

.cursive {
  font-family: 'Pacifico', cursive; }

.flickity-page-dots {
  bottom: 0px; }

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #fff; }

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #fff; }

.h-full-width {
  width: 100% !important;
  width: 100vw !important; }

.h-center {
  text-align: center !important; }

.h-left {
  text-align: left !important; }

.h-right {
  text-align: right !important; }

.h-no-margins {
  margin: 0 !important; }

.h-margins-5 {
  margin: 5px !important; }

.h-no-padding {
  padding: 0 !important; }

.h-full-height {
  height: 100% !important; }

.h-no-vertical-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.h-no-horizontal-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.h-horizontal-padding {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.h-image-fill {
  background-repeat: no-repea !important;
  background-position: center !important;
  overflow: hidden !important;
  background-size: cover !important; }

.h-image-contain {
  background-repeat: no-repeat !important;
  background-position: center !important;
  overflow: hidden !important;
  background-size: contain; }

.h-d-block {
  display: block !important; }

.h-d-inline-block {
  display: inline-block !important; }

.h-light-text {
  color: #777 !important; }

md-footer small {
  font-size: 12px;
  padding: 5px; }

md-footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.54); }

md-fab-speed-dial.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed !important; }

.nacarat-content {
  min-height: calc(100vh - 128px); }
  .nacarat-content main {
    overflow-x: hidden; }

.login-layout__content {
  height: calc(100vh - 64px);
  background: url("../../assets/img/23.png") center no-repeat; }

.sidenav__header {
  min-height: 5rem;
  background-color: #2c3e50; }

.sidenav__header-text {
  color: rgba(255, 255, 255, 0.75) !important; }

.sidenav__header-sub-text {
  color: rgba(255, 255, 255, 0.5) !important; }

.sidenav__header-avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%; }

.nacarat-toolbar__action-buttons {
  font-weight: bold; }
  .nacarat-toolbar__action-buttons:hover {
    background-color: #c62828 !important; }
  .nacarat-toolbar__action-buttons--is-active {
    background-color: #c62828 !important; }

.nacarat-toolbar__logo--text {
  font-size: 1.5rem;
  padding: 0 8px; }

.nacarat-toolbar__logo--image {
  height: 3rem;
  width: 3rem; }

.product-card {
  height: 20rem; }

.product-card__image {
  height: 60%; }

.home-content {
  min-height: 100vh; }
  .home-content p {
    line-height: 1.25; }

.nacarat-carousel__container {
  height: 100%;
  min-height: 5rem; }

.nacarat-carousel {
  background-color: #fcfcfc;
  text-align: center; }
  .nacarat-carousel__slides {
    height: 25rem; }
  .nacarat-carousel__slide {
    height: 100%;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    overflow: hidden !important;
    background-size: cover !important; }
    .nacarat-carousel__slide-text {
      color: #fff; }
    .nacarat-carousel__slide .slide__image {
      width: 100%;
      height: 100%; }

.icon {
  line-height: 1em; }
  .icon:before {
    margin: 5px; }
  .icon-twitter {
    background-color: #00aced !important;
    color: white !important; }
  .icon-facebook {
    background-color: #3b5998 !important;
    color: white !important; }
  .icon-instagram {
    background-color: #d93175 !important;
    color: white !important; }
  .icon-snapchat {
    background-color: black !important;
    color: white !important; }

.social-media-display {
  text-decoration: none; }

search-bar .md-whiteframe-z1 {
  box-shadow: none !important; }

.search-input-container {
  background-color: white !important;
  border-radius: 33px;
  padding: 0 1rem; }
  .search-input-container md-input-container {
    margin-top: .25rem;
    margin-bottom: .25rem; }
    .search-input-container md-input-container md-icon {
      color: rgba(0, 0, 0, 0.84); }
    .search-input-container md-input-container label {
      font-size: 14px; }

.login-card {
  border-radius: 8px; }
  .login-card input {
    background-color: rgba(255, 255, 255, 0.75); }
